body{
color: white;
}

/*set h1 fonts to oswald bold*/
h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 2em;
}


#profile-picture {
    margin: 15% 0em 0em 10em;
    width: 300px;
    height: auto;
    border-radius: 10%;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#bg-box{
    margin-top: 20%;
    border-radius: 50px;
    width: 100%;
    height: 80%;

    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);

    background-image: linear-gradient(to right top, #a600ff, #8443ff, #615cff, #3a6dff, #007aff);
    z-index: -1;

    padding: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#intro{
    margin: 20% 0em 0em 10em;

    /*text shadow*/
    text-shadow: 0px 0px 50px #000000;
}


a{
    text-decoration: none;
    color: white;
}

#buttons{
    margin: 0em 0em 0em 10em;
}